body {
    font-family: Arial;
    text-align: center;
    margin: 0;
    padding: 20px;
}

#card {
    width: 80%;
    max-width: 400px;
    margin: auto;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 10px #ccc;
    font-size: 28px;
    cursor: pointer;
    user-select: none;
}

#input {
    width: 250px;
    padding: 10px;
    font-size: 18px;
    margin-top: 20px;
}

#stats {
    margin-top: 20px;
    font-size: 20px;
}

.green {
    color: green;
}

.red {
    color: red;
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

#modal-content {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 80%;
    max-width: 300px;
    text-align: center;
}

@media(max-width:480px) {
    #card {
        font-size: 22px;
        padding: 25px;
    }

    #input {
        width: 200px;
    }
}
